<li appFreshBorder [creationDate]="courseItem.creationDate" class="list-group-item course_list_item">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="title col-9">
          <div class="title_block">
            <h5>{{courseItem.title | uppercase}}</h5>
            <div [ngClass]="{star: true, top_rate: courseItem.topRate}"></div>
          </div>
        </div>
        <p class="col">{{courseItem.duration | duration}}</p>
        <p class="col">{{courseItem.creationDate | date: 'dd.MM.yyyy'}}</p>
        <p class="col-12">{{courseItem.description}}</p>
      </div>
    </div>
    <div class="col-2 actions align-items-center">
      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-success btn-block">Edit</button>
        </div>
        <div class="col-12">
          <button (click)="onDelete()" type="button" class="btn btn-danger btn-block">Delete</button>
        </div>
      </div>
    </div>
  </div>
</li>
