<div class="input-group">
  <input [(ngModel)]="inputValue" type="text" class="form-control" placeholder="Text to search">
  <span class="input-group-btn">
    <button (click)="logValue()" class="btn btn-secondary" type="button">Search</button>
  </span>
</div>
