<div class="container">
  <div class="row align-items-center justify-content-end">
    <div class="col-auto">User login</div>
    <button type="button" class="btn btn-default">Log off</button>
  </div>
</div>
