<div class="container">
  <div class="row justify-content-end">
    <div class="col course_list_item_actions">
      <button type="button" class="btn btn-success btn-block">
        Add course
      </button>
    </div>
  </div>
</div>
