<div class="row">
  <div class="col-12">
    <ul class="course_list list-group">
      <app-course-list-item *ngFor="let item of courseListItems"
        [courseItem]="item"
        (delete)="delete($event)">
      </app-course-list-item>
    </ul>
  </div>
  <div class="col-12">
    <button type="button"
      (click)="onClickLoadMore()"
      class="btn btn-success btn-block">
      LOAD MORE
    </button>
  </div>
</div>
