<div class="row">
  <div class="col-12">
    <div class="nodata_message" *ngIf="courseListItems.length === 0">No data, feel free to add course</div>
    <ul class="course_list list-group">
      <app-course-list-item *ngFor="let item of courseListItems | orderBy"
        [courseItem]="item"
        (delete)="delete($event)"
        (edit)="edit($event)">
      </app-course-list-item>
    </ul>
  </div>
  <div class="col-12">
    <button type="button"
      (click)="onClickLoadMore()"
      class="btn btn-success btn-block load_more">
      LOAD MORE
    </button>
  </div>
</div>
